body{
   
}
.main{
    height: 100%;
    width: 100%;
    /* text-align: center; */
    /* padding: 50px 50px; */
}
.title{
    margin-left: 200px;
    margin-right:292px;
    /* display: inline-block; */
}
#logo{
    padding-right: 150px;
}

#LogoleftSide{
    padding-left: 100px;
    
}
#LogoleftSide span{
    border-right: 2px solid lightgrey;
    color: lightgray;
    padding-left: 21px;
    padding-right: 21px;
}

#navvbar{
    background-color: lightgray;
    border-top: double white ;
    border-bottom: double white ;
    /* border-style: double; */
    /* border-color: lightgray; */
    border-left: none;
    border-right: none;
    font-size: small;
}

#Primary_Navbar {
   background-color: lightgrey;
   padding-top: 8px;
   padding-bottom: 3px;
   width: 100%;
   border-top: double  white;
   border-bottom: double  white;
}
#Primary_Navbar span{
    padding: 5px;
    margin-left: 15px;
    border-right: solid white;
    padding-right: 25px;
    padding-top: 10px;
}
#Primary_Navbar span a{
    text-decoration: none;
    color: black;
}

#Secondary_Navbar div span a{
    text-decoration: none;
    color: black;
    padding-right: 28px;
    padding-left: 28px;
    /* border-right: solid 2px white; */
}

#Secondary_Navbar{
    margin-left: 200px;
    margin-right:40px;
    display: flex;
}
#Secondary_Navbar col1{
    width: 50%;
}
#Secondary_Navbar a{
    text-decoration: none;
    color: grey;
    padding: 10px;
}
#SN_1{
    margin-top: 20px
}
#SN_2{
    display: flex;
}
#bgdiv{
    background-image: url(background.png);
}

#up{
    margin-left: 200px;
    margin-right:300px;
    background-color: white;
    padding: 10px;
}
#up2  {
    background-color: #39352f;
    color: white;
    float: right;
    /* margin-right: 300px; */
    width: 323px;
    height: 490px;
    
    /* background-color: black;
    color: white;
    height: 600px;
    
    padding: 20px;
    margin-right: 250px; */
}

#InsideUp2{
    margin: 20px;
    padding: 40px;
    border: 2px solid grey;
    /* text-align: center; */
    padding-top: 5px;
    padding-bottom: 15px
}

/* #InsideUp2 table{
    margin-left: 40px;
} */

#down{
    margin-left: 200px;
    margin-right:300px;
    background-color: #DAD1C2;
    display: flex;
    padding: 5px;
}
.col {
    width: 33.33%;
    border-right: 2px solid darkgray;
    padding: 20px;
    font-weight: normal;
    color: grey;
    background-color: white;
    
}
#DownLeft{
    background-image: url(promo_glass.png);
    background-repeat: no-repeat;
    height: 130px;
    
}

#DownCenter{
    background-image: url(promo_plates.png);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 130px;
}

#DownRight{
    background-image: url(promo_album.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 130px;
}

#down span{
     text-align: right;
}

#footer{
    margin-left: 200px;
    margin-right:300px;
    color: lightgray;
}
#footerLeft{
    display: inline-block;
}
#footerLeft a {
    
    color: lightgray;
    list-style-type: none;
}
#footerLeft ul{
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
}
#footerLeft ul li{
    display: inline-block;
    border-right: 1px solid white;
    padding: 5px;
    font-size: small;
}

#footerRight{
    float: right;
    margin: 10px;
}

#footerRight span{
    margin: 5px;
}