body{
     margin: 0px;
    /* background-image: url(background.png); */
}
.main{
    height: 100%;
    width: 100%;
    /* text-align: center; */
    /* padding: 50px 50px; */
}
.title{
    /* margin-left: 200px;
    margin-right:292px;
    margin-bottom: 10px; */
    /* display: inline-block; */
    margin: auto;
    width: 75%;
    /* display: flex; */
}
.head{
    border-bottom: solid 1px rgb(146, 146, 146);
}

.accountDetailsBar {
    position: relative;
    overflow: hidden;
    font-family: system-ui;
    font-size: 14px;
    float: right;
    margin-right: 18px;
}
.accountDetailsBar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -1px;
}
.accountDetailsBar li {
    flex-grow: 1;
    flex-basis: auto;
    margin: .25em 0;
    text-align: center;
    /* border-right: 1px solid #ccc; */
    background-color: #fff;
}

.accountDetailsBar li::after{
    content: "|";
    padding-left: 18px;
    padding-right: 18px;
}
.accountDetailsBar li:last-child::after{
    content: " ";  
    padding-bottom: 0px;
}
.accountDetailsBar ul li:last-child{
    border: none;
}

.accountDetailsBar ul li:nth-child(3) a{
    color: black;
}
.accountDetailsBar ul  {
    display: flex;
    color: rgb(110 111 108);
    font-size: 14px;
    /* margin-left: 352px; */
}
.accountDetailsBar ul  li{ 
    list-style-type: none;
}
.accountDetailsBar ul li a:hover{
    text-decoration: underline;
    cursor: pointer;
}
/* .accountDetailsBar ul li a:hover:not(:last-child){
    text-decoration: none;
} */
.PrimaryNavbar {
   background-color: #E3D7C9;
   /* padding-top: 5px;
   padding-bottom: 5px; */
   width: 100%;
   border-top: double  white;
   border-bottom: double  white;
   position: relative;
   overflow: hidden;
   font-family: system-ui;
    font-size: 15px;
    height: 28px
}
.PrimaryNavbar ul{
    display: flex;
    color: black;
    margin: auto;
    width: 75%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-inline-start: 0px;
    height: 26px;
    padding-top: 0px;
}
.PrimaryNavbar ul li{
    list-style-type: none;
    padding-right: 50px;
    flex-grow: 1;
    flex-basis: auto;
    padding: 5px 1em;
    text-align: center;
    border-right: 1px solid white;
}
.PrimaryNavbar ul li a{
    text-decoration: none;
    color:white;
}
.dining{
    padding-left: 0px;
}

.PrimaryNavbar ul li:hover{
    background-color: rgb(183, 179, 179);
    cursor: pointer;
}

.PrimaryNavbar ul li:last-child:hover{
    background-color: #E3D7C9;
    cursor: auto;
}
.PrimaryNavbar ul li:first-child{
    padding-left: 0px;
}
.PrimaryNavbar ul li:last-child{
    border-right: none;
    padding-left: 70px
}
.PrimaryNavbar ul li button{
    cursor: pointer;
}
.PrimaryNavbar ul li input{
    padding: 0px;
}

/* .PrimaryNavbar ul li button{
    cursor: pointer;
} */
.disabled {
    pointer-events: none;
}
.SecondaryNavbar div span a{
    text-decoration: none;
    color: black;
    padding-right: 28px;
    
    /* border-right: solid 2px white; */
}
#shippingDiv ul li span a{
    color: #7f8198;
}
ul.a{
    color: darkgrey;
}

.shippingDiv ul li::before{
    content:"\25CB";
    font-size: 0.8rem;
    color: grey;
    vertical-align: bottom;
}

.shippingDiv{
    font-family: system-ui;
    font-size: 15px;
}
.shippingDiv ul li{
    list-style: none; 
    
}

.shippingDiv ul li:first-child::before{
    content: " ";
}

.SecondaryNavbar{
    margin: auto;
    width: 75%;
    display: flex;
    height: 42px;
}

.SecondaryNavbar a{
    text-decoration: none;
    color: grey;
    padding: 10px;
    padding-top: 15px;
    font-family: system-ui;
    font-size: 15px;
    cursor: pointer;
}
.SN1{
    display: flex;
}
.shippingDiv ul li a:hover  {
    text-decoration: underline;
}
.shippingDiv ul li{
    padding-right: 20px;
    height: 0px;
    color: grey;
}
.Links a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.shippingDiv ul{
    list-style-type: circle;
    display: flex;
    padding-left: 0px;
}
.SN2{
    display: flex;
}

.SN2 a:hover{
    text-decoration: underline;
}

.SN2 a:first-child{
    margin-left: 366px; 
    padding: 0px;
}

.SN2 a img{
    position: inherit; 
    padding-top: 2px;
}
.mainBody{
    background-image: url(background.png);
}

.mainContent{
    margin: auto;
    width: 75%;
    padding-bottom: 50px
}
.section1{
    background-color: white;
   display: flex;
    padding-bottom: 2px
}
figure{
    margin-inline: 8px;
    /* padding-top: 10px; */
    margin-block-end: 1px;
    margin-block-start: 7px
}
figure img{
    height: 535px;
}
#up2  {
    background-color: #39352f;
    color: white;
    float: right;
    /* margin-right: 300px; */
    width: 338px;
    height: 535px;
    margin-top: 7px;
    /* background-color: black;
    color: white;
    height: 600px;
    
    padding: 20px;
    margin-right: 250px; */
}

.InsideUp2{
    margin: 10px;
    padding: 40px;
    border: 2px solid grey;
    /* text-align: center; */
    padding-top: 8px;
    /* padding-bottom: 15px; */
    height: 464px;
    font-family: system-ui;
}
.InsideUp2 p{
    color: #a6a4a1;
    font-size: 16px;
    
}
.InsideUp2 ul{
    list-style-type: none;
    padding-inline-start: 0px;
}
.InsideUp2 ul li{
    border-bottom: 1px solid grey;
    padding-top: 10px;
    padding-bottom: 10px;
    /* text-align: left; */
    font-size: large;
}

.InsideUp2 ul li:last-child{
    border-bottom: none;
    padding-bottom: 0px;
}
.InsideUp2 h2{
    
    font-size: 30px;
    font-weight: 100;
    font-size: 30px; 
    margin-top: 36px
}

.seeMore{
    margin-top: 20px;
    font-size: 13px;
    margin-bottom: 30px;
}
.seeMore a{
    color: #a6a4a1;
}
.wine{
    border-bottom: none;
    padding-bottom: 0px
}

#mainBottom{
    margin: auto;
    background-color: #000000;
    display: flex;
    padding: 7px;
    padding-top: 6px
}
#bottomContainer{
    display: flex;
    width: 100%;
    background: white;
    align-items: center;
    height: 222px;
}

#bottomContainer div:last-child{
    border-right:none ;
}
.col {
    width: 33.33%;
    border-right: 2px solid darkgray;
    padding: 20px;
    font-weight: normal;
    color: #7c7b7b;
    background-color: white;
    font-family: system-ui;

}
.leftContainer{
    background-image: url(promo_glass.png);
    background-repeat: no-repeat;
    height: 175px;
    background-size: 340px;
}

.leftContainer pre{
    margin-left: 220px
}

.centerContainer{
    background-image: url(promo_plates.png);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 175px;
    background-size: 360px;
}

.centerContainer pre{
    margin-left: 210px
}
.rightConatiner{
    background-image: url(promo_album.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 258px;
    height: 175px;
}

#mainBottom span{
     text-align: right;
     font-size: 14px;
     color:#7a7676
}

.footer{
    margin: auto;
    color: rgb(156,147,138,1);
    font-family: system-ui;
}
.footerLeft{
    display: inline-block;
}
.footerLeft a {
    
    color:rgb(156,147,138,1);
    list-style-type: none;
}

.footerLeft ul li:last-child::after{
    content: " ";
}

.footerLeft ul{
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    padding-bottom: 10px
}
.footerLeft ul li{
    display: inline-block;
    font-size: small;
    padding-right: 5px
}

.footerLeft ul li::after{
    content: "|";
    padding-left: 5px;
}

.footerRight{
    float: right;
    
}

.footerRight span{
    margin: 5px;
}

.footerRight p button{
    border-radius: 8px; 
    cursor: pointer;
}

.footerRight p:first-child{
    font-size: 13px;
}
.footerHeading{
    color: #2f2d29; 
    font-size: 20px;
}

pre{
    font-family: system-ui;
    font-size: 13px;
    color: #50516C
}
.contact{
    font-size: 13px;
}