body{
    background-image: url(/Mikasa/background.png);
}
.main{
    height: 100%;
    width: 100%;
    /* text-align: center; */
    /* padding: 50px 50px; */
}
.title{
    margin-left: 200px;
    margin-right:40px;
    /* display: inline-block; */
}
#logo{
    
    padding-right: 150px;
}

#LogoleftSide{
    padding-left: 100px;
}
#LogoleftSide span{
    border-right: 2px solid black;
    padding-left: 100px;
}
.navvbar{
    background-color: lightgray;
    /* border-top: double grey 2px;
    border-bottom: double grey 2px; */
    border-style: double;
    border-left: none;
    border-right: none;
    font-size: small;
}
.navvbar table{
    margin-left: 200px;
    
}
.navvbar table td{
    padding-right: 15px;
    padding-left: 10px;
    border-right: solid 2px white;
}
.navvbar2{
    margin-left: 200px;
    margin-right:40px;
}
.navvbar2 a{
    text-decoration: none;
    color: grey;
    padding: 10px;
}

#up{
    margin-left: 200px;
    margin-right:300px;
    background-color: white;
    padding: 10px;
}
#up2  {
    background-color: #39352f;
    color: white;
    float: right;
    /* margin-right: 300px; */
    width: 323px;
    height: 490px;
    
    /* background-color: black;
    color: white;
    height: 600px;
    
    padding: 20px;
    margin-right: 250px; */
}

#InsideUp2{
    margin: 20px;
    padding: 40px;
    border: 2px solid grey;
    /* text-align: center; */
    padding-top: 5px;
    padding-bottom: 15px
}

/* #InsideUp2 table{
    margin-left: 40px;
} */

#down{
    margin-left: 200px;
    margin-right:300px;
    background-color: #DAD1C2;
    display: flex;
    padding: 5px;
}
.col {
    width: 33.33%;
    border-right: 2px solid black;
    padding: 20px;
    font-weight: normal;
    color: grey;
    background-color: white;
    
}
#DownLeft{
    background-image: url(/promo_glass.png);
    background-repeat: no-repeat;
    height: 130px;
    
}

#DownCenter{
    background-image: url(/promo_plates.png);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 130px;
}

#DownRight{
    background-image: url(/promo_album.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 130px;
}

#down span{
     text-align: right;
}

#footer{
    margin-left: 200px;
    margin-right:300px;
    color: lightgray;
}
#footerLeft{
    display: inline-block;
}
#footerLeft a {
    
    color: lightgray;
    list-style-type: none;
}
#footerLeft ul{
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
}
#footerLeft ul li{
    display: inline-block;
    border-right: 2px solid white;
    padding: 10px;
    font-size: small;
}

#footerRight{
    float: right;
}